<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book - A simple application</title>
    <script src="https://kit.fontawesome.com/0f525e4857.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Address Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="body-content">
        <div style="display:flex; align-items:center; height:150px;" >
            <div style="flex-grow:1">
            </div>
            <div>
                <button id="create_new_person_btn" type="button" class="btn btn-primary" data-ajax-url="@Url.Action("NewPerson", "Person")">Create New Person</button>
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <div class="sidebar-overlay">
        <div class="sidebar2">

        </div>
    </div>

    <div id="greeting"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    
    <script src="@Url.Content("~/Scripts/site/bundle.js")"></script>

</body>
</html>
